<footer id="site-footer">
    <div class="container app-footer" id="app-footer-de">
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <span class="pull-left">
                        &copy; Androschin &amp; Wiest Lean Manufacturing 2014
                </span>
            </div>
            
            <div class="col-xs-12 col-lg-4">
                <span class="pull-right"><a href="/de/kontakt/impressum">Impressum</a></span>
            </div>
        </div>
    </div>

    <div class="container app-footer" id="app-footer-en">
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <span class="pull-left">
                        &copy; Androschin &amp; Wiest Lean Manufacturing 2014
                </span>
            </div>
            
            <div class="col-xs-12 col-lg-4">
                <span class="pull-right"><a href="/en/contact/imprint">Imprint</a></span>
            </div>
        </div>
    </div>
</footer>