[buildout]
extensions = 
	mr.developer

show-picked-versions = true

extends = 
	http://dist.plone.org/release/4.3-latest/versions.cfg
	versions.cfg

find-links = 
	http://dist.kreativkombinat.de/public

versions = versions
unzip = true

[eggs]
main = 
	kk.apc
    kk.awl
    kk.apt
    ade25.toolbar
    ade25.dropnav

addon = 
	Pillow
    collective.emaillogin4
	plone.app.caching
	plone.app.contenttypes
    plone.app.event
    plone.app.toolbar
    plone.app.widgets
    plone.app.multilingual[archetypes, dexterity]
    Products.PloneFormGen

test = 
	kk.apc [test]

devtools = 
	bpython
	plone.reload
	sauna.reload
	Products.PDBDebugMode
	Products.PrintingMailHost
	Products.DocFinderTab

[sources]
kk.apc 		= fs kk.apc
kk.awl      = fs kk.awl
kk.apt      = fs kk.apt
ade25.dropnav = fs ade25.dropnav

# Additional checkouts

ade25.toolbar 			= git git@github.com:ade25/ade25.toolbar.git
ade25.typekit 			= git git@github.com:ade25/ade25.typekit.git
ade25.fabfiles          = git git@github.com:ade25/ade25.fabfiles.git
plone.app.contenttypes 	= git git@github.com:plone/plone.app.contenttypes.git
sauna.reload 			= git https://github.com/epeli/sauna.reload.git

