<div class="app-landingbox">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="app-landingbox-wrapper apc">
                <div class="app-landingbox-header-apc">
                    <a href="/de/bestaendiges/management">
                    <img class="img-responsive" src="/++theme++kk.apc/assets/img/logo-apc.png" border="0" alt="" />
                    </a>   
                </div>
                <div class="app-landingbox-body">
                    <a href="/de/bestaendiges/management">
                        <img class="img-responsive" src="/++theme++kk.apc/assets/img/start-apc.jpg" border="0" alt="" />
                    </a>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                            sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur 
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                </div>
                <div class="app-landingbox-footer">
                    <a class="btn btn-primary" href="/de/bestaendiges/management"><i class="fa fa-sign-in"></i> Mehr...</a>
                </div>  
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="app-landingbox-wrapper apt">
                <div class="app-landingbox-header-apt">
                    <a href="http://apt.kreativkombinat.de/de/home">
                    <img class="img-responsive" src="/++theme++kk.apc/assets/img/logo-apt.png" border="0" alt="" />
                    </a>
                </div>
                <div class="app-landingbox-body">
                    <a href="http://apt.kreativkombinat.de/de/home">
                        <img class="img-responsive" src="/++theme++kk.apc/assets/img/start-apt.jpg" border="0" alt="" />
                    </a>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                            sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur 
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                </div>
                <div class="app-landingbox-footer">
                    <a class="btn btn-primary" href="apt.kreativkombinat.de/de/home"><i class="fa fa-sign-in"></i> Mehr...</a>
                </div>    
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="app-landingbox-wrapper awl">
                <div class="app-landingbox-header-awl">
                    <a href="http://awl.kreativkombinat.de">
                    <img class="img-responsive" src="/++theme++kk.apc/assets/img/logo-awl.png" border="0" alt="" />
                    </a>
                </div>
                <div class="app-landingbox-body">
                    <a href="/http://awl.kreativkombinat.de">
                        <img class="img-responsive" src="/++theme++kk.apc/assets/img/start-awl.jpg" border="0" alt="" />
                    </a>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                            sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur 
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                </div>
                <div class="app-landingbox-footer">
                    <a class="btn btn-primary" href="http://awl.kreativkombinat.de"><i class="fa fa-sign-in"></i> Mehr...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Kontakt-->

<div class="app-landingbox app-landingbox-bottom">
    <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <span class="pull-left">
                    &copy; Androschin &amp; Partner Management Consulting GmbH 2014
                </span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <span class="pull-right"><a href="/impressum">Impressum</a></span>
            </div>
        </div>
</div>


