<div class="container app-brandbar">
    <div class="row">
        <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
            <a class="brandbar-claim pull-left" id="brandbar-brand" href="/">
                <img class="img-responsive" src="{{ page.base_url }}assets/img/claim.png" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a class="brandbar-brand pull-right" id="brandbar-brand" href="/">
                <img class="img-responsive logo" src="{{ page.base_url }}assets/img/logo-apt.png" />
            </a>
        </div>
    </div>
</div>